
    body {
    background-color:#f99;
    padding: 100px;
  }
  h1{
    font-family: sans-serif, serif, monospace, cursive, fantasy;
    font-family: "Courier New", Courier, Monospace;
    color: #000;
    /* 0123456789abcdef */
  }
  a {
    color: #fff;
  }
  h2{
    font-family: Verdana, "Trebuchet MS", Arial, sans-serif;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #666;
  }
  /* knockout background color */
  span.bg-ko{
    background-color: #fcc;
  }
  ul{
padding: .25em 1.5em;
border: 3px dotted #fff;
}
ol{
padding: .25em 1.5em;
border: 3px dotted #fff;
}
  li{
    margin: 0 0 .5em 0;
  }
